{% extends "base.html" %}
{% block title %}Записи сообщества {{ group }}{% endblock %}
{% block header %}Записи сообщества {{ group }}{% endblock %}
{% block content %}

<h1>{{ group }}</h1>
<p>
    {{ group.description }}
</p>
{% for post in page %}
<h3>
    Автор: <a href="{% url 'profile' post.author.username %}">{{ post.author.get_full_name }}</a>, дата публикации: {{ post.pub_date|date:"d M Y" }}
</h3>
<p>{{ post.text|linebreaksbr }}</p>
<hr>
{% endfor %}
{% include 'paginator.html' %}
{% endblock %}