<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block header %}Технологии{% endblock %}
{% block content %}
{% load user_filters %}
{% load static %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h4">
                  <br>
                  <img src="{% static 'img/bender.png' %}">
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Слава роботам!
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p><b>Django</b> - очень классный фреймворк</p>
            <p><b>Python</b> - очень классный язык</p>
            <p><b>flake8</b> - очень полезная утилита</p>
            <p><b>isort</b> - очень классный форматтер</p>
            <p><b>Django backend от Яндекс.Практикум</b> - очень классный курс. Как много я узнал тут.</p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %} 