<div class="card mb-3 mt-1 shadow-sm">
    <!-- Отображение картинки -->
    <a id="{{ post.id }}"></a>
    {% load thumbnail %}
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img" src="{{ im.url }}" />
    {% endthumbnail %}
    <!-- Отображение текста поста -->
    <div class="card-body">
      <p class="card-text">
        <!-- Ссылка на автора через @ -->
        <div class="btn-group">
        <a name="post_{{ post.id }}" href="{% url 'posts:profile' post.author.username %}">
          <strong class="d-block text-gray-dark">@{{ post.author }}</strong>
        </a>
        {# Если following не передан, значит кнопка подписаться не покажется (страница профиля) #}
        {% if user != post.author and following is None %}
            {% if not post.author.id in authors %}
              <a href="{% url 'posts:profile_follow' post.author.username %}?next={{ request.path }}#{{ post.id }}" role="button">[подписаться]</a>
            {% else %}
              <a href="{% url 'posts:profile_unfollow' post.author.username %}?next={{ request.path }}#{{ post.id }}" role="button">[отписаться]</a>
            {% endif %}
        {% endif %}
      </div>
      <br>
        {{ post.text|linebreaksbr }}
      </p>
  
      <!-- Если пост относится к какому-нибудь сообществу, то отобразим ссылку на него через # -->
      {% if post.group %}
      <a class="card-link muted" href="{% url 'posts:group_slug' post.group.slug %}">
        <strong class="d-block text-gray-dark">#{{ post.group.title }}</strong>
      </a>
      {% endif %}
  
      <!-- Отображение ссылки на комментарии -->
      <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
              {% if user.is_authenticated %}
              <a class="btn btn-sm btn-light" href="{% url 'posts:post' post.author.username post.id %}" role="button">
                  Добавить комментарий
              </a>
              {% else %}
              <a class="btn btn-sm btn-light"href="{% url 'login' %}?next={% url 'posts:post' post.author.username post.id %}">Для комментариев вам нужно&nbsp;залогиниться</a>
              {% endif %}
              {% if post.comments.exists %}
              <button class="btn btn-sm btn-light" role="button" disabled>
                      Комментариев: {{ post.comments.count }}
              </button>
              {% endif %}
            
          </div>
          <!-- Ссылка на редактирование поста для автора -->
          <div class="btn-group">
            {% if user == post.author %}
            <a class="btn btn-sm btn-link" href="{% url 'posts:edit_post' post.author.username post.id %}" role="button">Редактировать</a>
            {% endif %}
            <!-- Дата публикации поста -->
            <button class="btn btn-sm" role="button" disabled>
              <small class="text-muted">{{ post.pub_date|date:"d.m.Y" }}</small>
            </button>
        
          </div>
      </div>
    </div>
  </div> 